body {
    color: #232323;
    padding: 1px;
    font-family: Helvetica, sans-serif;
    background-color: #d5e1fA;
}

#hedda {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 4px;
}

#titlep {
    text-align: left;
    padding: 3px;
}

#title {
    font-size: large;
    font-weight: bold;
}

tr.row0 {
    background: white;
}

tr.row1 {
    background: #f0f0f0;
}

.progtitle {
    font-weight: bold;
    display: block;
    margin: 4px;
}

.progdesc {
    font-size: small;
    margin: 4px;
}

.transferring {
    background: #7fff7f;
}

.queued {
    background: #ffff7f;
}

.failed {
    background: #ff7f7f;
}

#main {
    position: absolute;
    border: 2px solid #979797;
    padding: 4px;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: #f0f0f7;
    border-radius: 9px;
    top: 85px;
    bottom: 8px;
    width: 92%;
    overflow-y: auto;
}

#nplmain {
    border: 0;
    padding: 8px;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: #f0f0f7;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    bottom: 8px;
}

#bigmain {
    position: absolute;
    top: 50px;
    bottom: 8px;
    border: 1px solid #979797;
    padding: 2px;
    margin: 4px;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: #f0f0f7;
    border-radius: 9px;
    border: none;
    height: 88%;
    width: auto%;
}

#scrolltab {
    position: absolute; 
    top: 78px;
    bottom: 8px;
    overflow-y: auto;
    border: 1px solid #979797;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    width: 94%;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    background-color: #f0f0f7;
}

td {
    padding: 2px;
}

td.progmain {
    width: 100%;
}

.progsize {
    white-space: nowrap;
    text-align: left;
    font-size: small;
    font-weight: bold;
    font-style:italic;
    margin: 4px;
}

.progdate {
    white-space: nowrap;
    text-align: left;
    font-size: small;
    font-weight: bold;
    font-style:italic;
    margin: 2px;
}

img {
    border: 0;
}

a:link {
    text-decoration:none;
    color: #232392;
    font-weight: bold;
    padding: 2px;
}

a:visited {
    text-decoration:none;
    color: #232392;
    font-weight: bold;
    padding: 2px;
}
a:hover {
    text-decoration:none;
    color: #232392;
    font-weight: bold;
    padding: 2px;    
}
p.hidden {
    visibility: hidden;
}
