<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>pyTivo</title>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="128x128" href="niceicon.png">
<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
    <h3><img src="tivo.png" alt="Loading..."> pyTivo</h3>
    <div id="main">
    $admin
    $togo
    $shares
    </div>
</body>
</html>
